* {
  font-family: sans-serif;
}

#container-control {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em;
  background-color: #f3f3f3;
  width: 160px;
  float: left;
  margin-right: 20px;
  box-shadow: 5px 5px 5px #ddd;
}

#instructions {
  font-style: italic;
}

path.county {
  stroke: #000;
  stroke-width: 3px;
}

path.interstate {
  fill: none;
  stroke: #B05835;
  stroke-width: 1.5px;
}

path.lake {
  fill: none;
  stroke: #222;
  stroke-width: 2px;
}

path.river {
  fill: none;
  stroke-width: 2px;
  stroke: #222;
}

circle.city-major {
  fill: white;
  stroke-width: 4px;
  stroke: black;
}

.city-major-label {
    font-size:  20px;
    paint-order: stroke;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 600;
}

circle.city-minor {
  fill: white;
  stroke-width: 4px;
  stroke: black;
}

.city-major-label {
    font-size:  27px;
    paint-order: stroke;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 600;
}

.city-minor-label {
    font-size:  20px;
    paint-order: stroke;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 600;
}